<div class="container">
  <h1>LEGO Set Input Form</h1>
  <form [formGroup]="setForm" >
    <div >
      <label for="setName">Set Name</label>
      <input type="text"
             formControlName="setName"
             id="setName" required>
    </div>

    <div>
      <label for="setNumber">Set Number</label>
      <input type="text"
             formControlName="setNumber"
             id="setNumber" required>
    </div>

    <div>
      <label for="setPieces">Number of Pieces</label>
      <input type="text"
             formControlName="setPieces"
             id="setPieces">
    </div>

    <div>
      <label for="setYear">Year</label>
      <input type="text"
             formControlName="setYear"
             id="setYear">
    </div>

    <div>
      <label for="setTheme">Theme</label>
      <input type="text"
             formControlName="setTheme"
             id="setTheme">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>